:root {
  --border-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /*   max-width: 1260px; */
  font-family: "Space Mono", monospace;
  padding: 8px;
}

input,
select {
  min-height: 32px;
  width: 16rem;
}

.prim_font {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
}

section {
  margin: 48px 0;
}

.extra-margin {
  padding-bottom: 400px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

header nav li {
  display: flex;
}

header nav li ul {
  margin: 0;
  padding: 0;
  margin: 0 5px;
}

header nav li ul a {
  color: black;
  font-weight: 700;
}

header nav li ul a:hover {
  color: #5c2300;
}

header nav li ul a:active {
  color: yellow;
}

#about-me .title {
  text-transform: uppercase;
  font-size: 64px;
  /*   font-family: 'Space Mono', monospace; */
}

#about-me .image {
  margin: 16px 0;
  padding: 20px 10px;
  border-left: 8px solid var(--border-color);
}

#about-me .image div {
  height: 120px;
  width: 400px;
  background-image: url("./images/img.jpeg");
  background-size: cover;
}

#about-me .title1 {
  border-top: 8px solid var(--border-color);
  padding-top: 10px;
}

#about-me .title2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  border-right: 8px solid var(--border-color);
  padding-right: 10px;
}

#about-me .title2 .story {
  font-family: "Space Mono", monospace;
  text-align: left;
  border-left: 8px solid var(--border-color);
  padding: 16px;
  max-width: 400px;
}

#goal {
  display: flex;
  justify-content: center;
}

#goal > div {
  text-align: center;
  max-width: 800px;
}

#education > div {
  text-align: center;
  max-width: 800px;
}

#experience {
  flex-direction: column;
  align-items: center;
}

#experience .experiences {
  flex-wrap: wrap;
}

#experience .experience {
  text-align: left;
  margin: 0 32px;
}

#experience .experience h1 {
  border-left: 4px solid var(--border-color);
  padding-left: 10px;
}

#hobbies {
  width: 100%;
}

#hobbies > div {
  width: 100%;
  max-width: 720px;
}

#hobbies .skills_hobbies {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form div > div {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

form div > div label {
  margin-bottom: 4px;
}

form .form_button button {
  width: 8rem;
  height: 32px;
  margin: 0 auto;
  cursor: pointer;
}

@media (min-width: 800px) {
  form > div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: flex-end;
  }

  form div > div {
    margin: 16px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #fff;
  }

  body {
    color: #eee;
    background: #121212;
    border-color: #fff;
  }

  body header nav li ul a {
    color: #fff;
  }
}
